<div class="flash-partial">
  <%= render 'layouts/messages' %>
</div>

<% if @articles  %>
  <div class="flex-container">
    <% @articles.each do |article| %>
      <div class="card text-center text-white bg-dark mb-5 ml-3" style="max-width: 25rem;">
        <div class="card-header"><strong>by: <%= link_to article.user.username, user_path(article.user) %></strong></div>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><%= truncate(article.description, length: 50) %> </p>
          <%= link_to 'View', article_path(article.id), class: 'btn btn-sm btn-outline-success' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>